:root {
  --black-color: rgb(46, 56, 65);
  --black-light: rgb(61, 70, 85);
  --green-color: rgb(36, 196, 158);
  --gray-color: rgb(190, 190, 190);
  --white-color: white;
  --primary-font: "Work Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
  background-color: rgb(46, 56, 65);
}